.dropdown .dropdownBody.open > .menu li .listSubmenu .listHead:hover a {
    background-color: #ccc;
    color: #2b2b2b;
}
.dropdown .dropdownBody.open > .menu li .listSubmenu .listHead a {
    color: #f1f1f1;
}
header {
    box-shadow: 0px 2px 9px -4px #00000085;
}