#ax_headings .ax_heading_p {
    width: 53%!important;
    padding-bottom: 7px;
    font-size: 16px;
    text-align: justify;
}
/* #ax_headings {
    transform: translateY(-285px);
} */
section#lf_page_head {
    width: 100%;
    height: 50vh;
    position: relative;
    place-items: center;
    display: grid;
}#ax_hero_image .ax_tabs {
    display: none;
}
section#lf_page_head img {
    width: 100%;
    position: absolute;
    height: 100%;
}
section#lf_page_head .lf_item.axg_active h1 {
    font-size: 80px;
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0;
    place-items: center;
    display: grid;
    line-height: 96px;
    padding-top: 20px;
    text-shadow: 7px 5px 13px #0000006b;
}
section#lf_form {
    margin-top: 20px;
}
section#lf_page_head .lf_item.axg_active {
    position: relative;
    height: fit-content;
    display: grid;
    padding: 2% 0;
}
section#lf_page_head .lf_item.axg_active p span {
    text-align: center;
    margin: 0 auto;
    padding: 3px 9px;
    border-radius: 4px;
    background-color: #ffffffbd;
    color: #000;
    letter-spacing: -1px;
    display: none;
}
section#lf_page_head .lf_item.axg_active p {
    width: 100%;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
}
p.ax_heading_p {
    font-family: "Inter", Arial, sans-serif;
    color: var(--txt1);
    font-size: 15px;
    width: 90%;
    margin: 20px auto;
}

section#lf_page_head .lf_items {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8%;
    width: 40%;
}
section#lf_page_head .lf_items .lf_item strong a {
    color: #fff;
    position: relative;
    font-family: "Inter", Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
main {
    background-color: var(--bg1)!important;
}
section#lf_page_head .lf_items .lf_item {
    display: grid;
    place-items: center;
}
#lf_countrys_list_data_services {
    z-index: 25;
}
aside#lf_landing_left {
    top: 0!important;
}

#lf_country_services {
    position: relative;
    background-color: var(--bg1);
    padding: 0;
    margin: 0;
}
#lf_country_services .lf_items {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 40px 0vw;
    transition: all .3s;
    width: 77%;
    place-items: baseline center;
    margin: 0 auto;
}
#lf_country_services .lf_items .lf_item {
    display: grid;
    align-content: center;
    padding: 0;
    padding-bottom: 2vw;
    transition: all .3s;
    -webkit-transition: all .3s;
}
#lf_country_services .lf_items .lf_item a {
    place-content: center;
    display: grid;
    text-decoration: none;
}
#lf_country_services .lf_items .lf_item svg {
    width: 60px;
    height: 60px;
    place-self: center;
    background-color: var(--ax_service_bg);
    transition: all .3s;
    -webkit-transition: all .3s;
    box-shadow: 0px 15px 8px -8px var(--ax_service_sh1), 0px 18px 15px -8px var(--ax_service_sh2), 0px -5px 40px -2px var(--ax_service_sh3);
    border-radius: .4em;
    padding: 1vw;
    position: relative;
}
#lf_country_services .lf_items .lf_item .lf_title {
    text-align: center;
    margin: 0;
    font-size: 19px;
    font-weight: 500;
    color: var(--txt1);
    font-family: "Inter", Arial, sans-serif;
    letter-spacing: -1px;
    margin-top: 19px;
    letter-spacing: -0.03em;
}
#lf_country_services .lf_items .lf_item .lf_title span {
    font-size: 13px;
    background-color: var(--ax_service_sub);
    padding: .1vw .5vw;
    border-radius: 2em;
    transition: all .3s;
}
#lf_country_services .lf_items .lf_item:hover svg {
    background-color: #ebebeb;
}
@media (max-width: 375px) {
    #lf_country_services .lf_items {
        width: 100%;
    }
    #lf_country_services .lf_items .lf_item .lf_title {
        margin-top: 10px;
    }
}
section#lf_page_head > a {
    position: relative;
    color: #fff;
    background-color: var(--ax_btn_bg);
    text-decoration: none;
    font-family: "Inter", Arial, sans-serif;
    padding: .5% 1%;
    border-radius: 4px;
    transition: all .3s;
    display: grid;
    align-self: baseline;
    text-decoration: none;
}
section#lf_page_head > a:hover {
    box-shadow: 0px 16px 20px -9px black;
    background-color: #fbfbfb;
    color: #0b650f;
}
@media (max-width: 1024px) and (min-width: 769px){
    #lf_country_services .lf_items {
        width: 77%!important;
    }
}
@media (max-width: 1024px) {
    /* aside#lf_landing_left {
        transform: translateY(0px)!important;
    } */
}
@media (max-width: 768px) and (min-width: 601px){
    #lf_country_services .lf_items {
        grid-template-columns: auto auto auto auto;
        padding: 10px 3vw;
        width: 82%;
    }
}

section#lf_page_head .lf_items .lf_item.axg_active strong a {
    font-size: 50px;
    font-weight: 900;
}
@media (max-width: 600px) {
    ul.lf_country_submenu {
        top: 41px;
    }
    #lf_country_services .lf_items {
        grid-template-columns: auto auto auto;
        padding: 19px 0vw;
        align-items: baseline;
    }
    #lf_country_services .lf_items .lf_item {
        padding: 0;
        margin: 0;
        margin-bottom: 4vw;
    }
    #lf_country_services .lf_items .lf_item svg {
        width: 12vw;
        height: 12vw;
    }   
    #lf_country_services .lf_items .lf_item .lf_title {
        font-size: 16px;
        place-self: center;
    }
    #lf_country_services .lf_items .lf_item .lf_title span {
        border-radius: 1em;
        padding: 0 2vw;
    }

    section#lf_page_head .lf_items {
        grid-auto-flow: row;
    }
    section#lf_page_head .lf_items .lf_item {
        display: grid;
        place-items: center;
    }
    section#lf_page_head .lf_item.axg_active h1 {
        font-size: 40px;
        line-height: 56px;
        padding: 0;
    }
    section#lf_page_head .lf_item.axg_active p {
        font-size: 13px;
    }
    section#lf_page_head .lf_items .lf_item strong a {
        font-size: 19px;
    }
    section#lf_page_head {
        height: 300px;
    }
    section#lf_page_head > a {
        position: relative;
        color: #fff;
        background-color: var(--ax_btn_bg);
        text-decoration: none;
        font-family: "Inter", Arial, sans-serif;
        padding: 1.5% 1%;
        border-radius: 4px;
        transition: all .3s;
        display: grid;
        align-self: baseline;
        width: 40%;
        text-align: center;
        font-size: 13px;
    }
}























